/*~~~~~~~~~~~~~~~~~~~~~~~~~ FONT FAMILY ~~~~~~~~~~~~~~~~~~~~~~~~~*/
@mixin font-face($font-family, $weight, $url, $file-name, $style: normal) {
	@font-face {
		font-family: "#{$font-family}";
		src: url("#{$url}#{$file-name}.woff2") format("woff2"), url("#{$url}#{$file-name}.woff") format("woff");
		font-weight: #{$weight};
		font-display: swap;
		font-style: $style;
	}
}

@include font-face(Manrope, 200, "./../../fonts/", "Manrope-ExtraLight");
@include font-face(Manrope, 300, "./../../fonts/", "Manrope-Light");
@include font-face(Manrope, 400, "./../../fonts/", "Manrope-Regular");
@include font-face(Manrope, 500, "./../../fonts/", "Manrope-Medium");
@include font-face(Manrope, 600, "./../../fonts/", "Manrope-Semibold");
@include font-face(Manrope, 700, "./../../fonts/", "Manrope-Bold");
@include font-face(Manrope, 800, "./../../fonts/", "Manrope-ExtraBold");
