/*dropdown*/
.js-tree-menu {
	$this: &;
	ul {
		height: 0;
		min-height: 0;
		overflow: hidden;
		transition-property: min-height, height;
		transition-duration: $duration;
	}
}

/*general slider settings*/
.slider {
	&-wrap {
		position: relative;

		.container {
			position: relative;
		}
	}

	&-nav {
		position: absolute;
		top: 50%;
		z-index: 0;
		display: flex;
		justify-content: space-between;
		width: 100%;
		transform: translateY(-50%);
		user-select: none;

		.swiper-button-lock {
			display: none !important;
		}
	}

	&-arr {
		width: 50px;
		height: 50px;
		transition: opacity $duration;

		&.swiper-button-disabled {
			pointer-events: none;
			opacity: 0.5;
		}

		&--prev {
			transform: scaleX(-1);
		}

		svg {
			--color-secondary: #242424;
			max-height: 100%;
			fill: #323232;
		}
	}

	&-pagination {
		display: block;
		z-index: 2;
		margin-top: 40px;
		padding-left: 30px;
		padding-right: 30px;
		max-width: 100%;
		text-align: center;

		&.swiper-pagination-lock {
			display: none !important;
		}

		.swiper-pagination-bullet {
			margin: 0 15px 7px 0;
			width: 7px;
			height: 7px;
			background: #918880;
			opacity: 1;
			transition: all $duration;

			&:last-child {
				margin-right: 0;
			}

			&:hover {
				//background-color: #ee322d;
			}
		}

		.swiper-pagination-bullet-active {
			background: #dfdbd9;
			box-shadow: none;
		}
	}

	@include mobile {
		&-pagination {
			margin-top: 30px;
		}
	}
}
